.FAQ{
  .FAQContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 200px 0;
    @media screen and (max-device-width: 500px) {
      width: 100%;
      display: block;
      padding: 100px 20px 0 20px;
    }
    .FAQText{
      width:40%;
      margin: 0 auto;
      @media screen and (max-device-width: 500px) {
        width: 100%;
      }
      h2{
        font-size: 32px;
      }
      .textFAQ{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        h3{
          font-size: 20px;
          padding: 30px 0;
          font-weight: 400;
          span{
            color: #E81F50;
          }
          &:hover{
            cursor: pointer;
            color: #E81F50;
          }
        }
        img{
          width: 24px;
          height: 24px;
        }

      }
    }
    .FAQImage{
      width: 40%;
      @media screen and (max-device-width: 500px) {
        display: none;
      }
    }
  }
}

.swipeText{
  width: 90%;
}
